$bgp: #3DA2FF;
$bgs: #05359B;

.navbar {
    border-bottom: 5px solid $bgp;
    opacity: .9;
}

#header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    height: 100vh;
    color: #fff;
    input[type="submit"]:hover {
        color: #333;
    }
    .card-form {
        opacity: .8;
    }
    .fa {
        color: $bgp;
        padding: 4px;
        border-radius: 5px;
        background: #fff;
    }
    .col-lg-8 {
        animation-delay: .1s;
    }
    .col-lg-4 {
        animation-delay: .3s;
    }
}

section {
    h4 {
        margin-bottom: 20px;
    }
}

.line {
    width: 10px;
    height: 20px;
    background-color: #fff;
}

.modal-header {
    span {
        padding: 4px;
    }
}















